<div class="container">
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div class="text-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
</div>


<h1> Guides </h1>

<h2> Introduction </h2>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="/start"><img src="/images/start.png" alt="Getting Started " ></a>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="/hello"><img src="/images/hello.png" alt="Hello World with Jupyter" ></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>


<br><br><br><br>


<h2> Fundamentals </h2>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="/metricgroups"><img src="/images/metricgroups.png" alt="Working with Different Metric Groups" ></a>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="/workflow"><img src="/images/workflow.png" alt="Understanding the ScrumSaga Workflow" ></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="/techniques"><img src="/images/techniques.png" alt="Techniques for Working with Software Data" ></a>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="/extensions"><img src="/images/extensions.png" alt="ScrumSaga Extensions" ></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>





