<div class="container">
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div class="text-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
</div>


<h1> Guides </h1>
<div class="row">
  <div class="col-sm-6">
<p> This series of tutorials and examples show how ScrumSaga is easily integrated to any business intelligence system to support operational decision-making</p>
  </div>
</div>
<hr>


<h2 id="introduction"> Introduction </h2>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="/intro/start" target='_blank'><img src="/images/start.png" alt="Getting Started " ></a>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports/blob/master/guideHelloWorld.ipynb" target='_blank'><img src="/images/hello.png" alt="Hello World with Jupyter" ></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>


<br><br><br><br>


<h2 id="fundamentals"> Fundamentals </h2>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports/blob/master/guideWorkingWithDifferentDataGroups.ipynb" target='_blank'><img src="/images/metricgroups.png" alt="Working with Different Metric Groups" ></a>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports/blob/master/guideWorkFlow.ipynb" target='_blank'><img src="/images/workflow.png" alt="Understanding the ScrumSaga Workflow" ></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="/techniques" target='_blank'><img src="/images/techniques.png" alt="Techniques for Working with Software Data" ></a>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="/extensions" target='_blank'><img src="/images/extensions.png" alt="ScrumSaga Extensions" ></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>


<br><br><br><br>


<h2 id="usecase"> Use Cases </h2>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports" target='_blank'><img src="/images/UseCaseWebFrame.png" alt="Evaluate Web Frameworks" ></a>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports" target='_blank'><img src="/images/UseCasePlatforms.png" alt="Compare Competing Platforms" ></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports" target='_blank'><img src="/images/UseCaseTeamProc.png" alt="Assess Team Processes" ></a>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports" target='_blank'><img src="/images/UseCaseCodeBase.png" alt="Investigate Code-Base Components" ></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>


<br><br><br><br>

<h2 id="integration"> Workflow Integration </h2>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports" target='_blank'><img src="/images/IntegProjMgmt.png" alt="Project Management" ></a>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports" target='_blank'><img src="/images/IntegQualCtrl.png" alt="Performance and Quality Control" ></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports" target='_blank'><img src="/images/IntegCostAcct.png" alt="Functional Cost Accounting" ></a>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports" target='_blank'><img src="/images/IntegHumResrc.png" alt="Human Resource Forecasting" ></a>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>




