<div class="container">
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div class="text-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
</div>

<div class="container">
  
<p> Understanding the ScrumSaga Workflow </p>
<p> Hello World </p>
<p> Using Metric Groups </p>
<p> Techniques for Software Data </p>  
<p> ScrumSaga Extensions</p>


</div>  
