<div class="container">
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div class="text-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
</div>



<h1> Getting Started </h1>

<div class="row">
  <div class="col-sm-6">
<p> Begin working with software data by creating an account and viewing your default settings.</p>
  </div>
</div>

  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <h4> Subsection here </h4>
      <p> Sub instructions here </p>
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <img src="/images/steps/signUp.JPG" alt="sign up image" >
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>





  
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <h4> Subsection here </h4>
      <p> Sub instructions here </p>
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <img src="/images/steps/createAccount.JPG" alt="account image" >
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>





  
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <h4> Subsection here </h4>
      <p> Sub instructions here </p>
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <img src="/images/steps/menu.JPG" alt="menu image" >
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>


  
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <h4> Subsection here </h4>
      <p> Sub instructions here </p>
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <img src="/images/steps/availableData.JPG" alt="available data image" >
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>


  
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <h4> Subsection here </h4>
      <p> Sub instructions here </p>
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <img src="/images/steps/viewAccount.JPG" alt="view account image" >
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>

 