<div class="container">
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div class="text-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
</div>



<h1> Getting Started </h1>

<div class="row">
  <div class="col-sm-6">
<p> Begin working with software data by creating an account and viewing your default settings.</p>
  </div>
</div>
<hr>

  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <h4>Sign-up</h4>
      <p>Click on the hyperlink in the upper-right corner of the page</p>
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <img src="/images/steps/signUp.JPG" alt="sign up image" >
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>





  
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <h4>Submit User Information</h4>
      <p>Create an account by submitting your email, username, and password.  Ensure the email is valid because all communication on processing requests will be provided through this.</p>
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <img src="/images/steps/createAccount.JPG" alt="account image" >
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>





  
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <h4>Account Menu</h4>
      <p>The menu will provide you access to your account, including profile, license information, and available data processing limits.   It also allows access to previously processed data and diagrams.</p>
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <img src="/images/steps/viewAccount.JPG" alt="view account image" >
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>

 
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <h4>Demo Data</h4>
      <p>Your account comes pre-loaded with data of processed repositories so that you can immediately begin interacting with features.</p>
    </div>
    <div class="col-sm-4">
      <div class="wrapper">
      <img src="/images/steps/availableData.JPG" alt="available data image" >
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
      <h4>Hello World</h4>
      <p>Clike on the arrow to continue with the next guide, which shows you the basics of working with data.</p>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-6">
      <div class="wrapper">
      <a href="https://github.com/IMTorgDemo/Reports/blob/master/HelloWorld.ipynb">
      <img src="/images/continue-arrow.png" alt="continue guide" >
      </a>
      </div>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>





  


 