/* USER-DEFINED STYLES */


/* Landing Page */

html {
    margin: 0;
    padding: 00;
    box-sizing: border-box;
}

body {
    margin: 0 20px 0 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

form {
    border-radius: 5px;
    border-color: #c0c0c0;
    padding: 20px;
}

.section {
    padding-bottom: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    align-items: center;
    flex: 0 0 auto;
}

header {
    /*position: fixed;*/
    width: 100%;
    background-color: white;
}

header>.row {
    justify-content: space-between;
}

footer {
    text-align: center;
    position: static;
    /*height: 10px;*/
    width: 100%;
    bottom: 0;
}

#Banner>.row {
    padding-top: 10px;
    justify-content: space-around;
}

#Banner .item {
    max-width: 600px;
}

#Banner svg {
    max-width: 500px;
    margin-top: 50px;
    /*viewBox:"0 0 850 700"*/
}

#Intro>.row {
    padding-top: 10px;
    justify-content: space-around;
}

#Intro>.row>.item {
    max-width: 300px;
}

#UseCase>.row {
    padding-top: 10px;
    justify-content: space-around;
}

#UseCase h3 {
    text-align: center;
}

#UseCase li {
    display: list-item;
    list-style-type: disc;
}

#Features>.row {
    padding-top: 10px;
    justify-content: space-around;
    align-items: flex-start;
}

#Features h3 {
    text-align: center;
}

#Features>.row>.item {
    max-width: 400px;
}

#Tools>.row {
    padding-top: 10px;
    justify-content: space-around;
    align-items: flex-start;
}

#Tools h3,
h2 {
    text-align: center;
}

#Tools>#Diagram>.item:nth-child(1) {
    max-width: 300px;
}

#Tools>#Diagram>.item:nth-child(2) {
    /*max-width: 700px;*/
    max-width: 65%;
}

#Tools>#Code>.item:nth-child(1) {
    max-width: 300px;
}

#Tools>#Code>.item:nth-child(2) {
    /*max-width: 700px;*/
    max-width: 65%;
}

#Tools>#Analysis>.item:nth-child(1) {
    max-width: 300px;
}

#Tools>#Analysis>.item:nth-child(2) {
    /*max-width: 700px;*/
    max-width: 65%;
}

#Awards>h3,
h2 {
    text-align: center;
}

#Awards>.row {
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
}

#Awards>.row>.item:nth-child(1) {
    max-width: 500px;
}

#Awards>.row>.item:nth-child(2) {
    max-width: 300px;
}

#Review>h3,
h2 {
    text-align: center;
}

#Review>.row {
    padding-top: 10px;
    justify-content: space-around;
    align-items: flex-start;
}

#Review>.row>.item {
    max-width: 300px;
}


/* Contact Page */

.contact .row {
    justify-content: space-around;
}

.contact .row .item {
    max-width: 500px;
}


/* /app/account Page */

#Profile .row {
    align-items: flex-start;
}

#Profile .item {
    width: 300px;
}


/* 
---PERSONAL STYLES --------------------------------------------------------------*/

#continue a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

#continue a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}


/* ---

---DEFAULT STYLES --------------------------------------------------------------*/

ul,
ol {
    list-style: none;
}

label {
    display: block;
    line-height: 1.8;
}

.container {
    padding-right: 2rem;
    padding-left: 2rem;
}

div.wrapper img {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    display: inline-block;
    margin: 0 5px;
}

form button[type="submit"] {
    margin-top: 1em;
}

.list-inline {
    float: right;
    padding-left: 0;
    list-style: none;
}

.list-inline>li {
    float: right;
    padding: 0 5px;
}

.list-inline a {
    text-decoration: none;
    color: #696969;
    font-size: 100%
}

.list-inline a:visited {
    text-decoration: none;
    color: #696969
}

.list-align {
    text-decoration: none;
    color: #696969;
}

.list-align a {
    text-decoration: none;
    color: #696969;
    font-size: 100%
}

.text-success {
    color: #29b35b;
}

.text-danger {
    color: #b61b17;
}

.text-info {
    color: #31708f;
}

.avatar {
    margin-right: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

pre {
    overflow-x: scroll;
    background-color: black;
    color: white;
    display: block;
}

blockquote {
    font-size: 22px;
    margin: 0;
}

blockquote p {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    font-family: Georgia, serif;
    line-height: 1.4;
    padding: 4px;
}

.author {
    background-color: transparent;
    font-weight: 500;
    font-size: 22px;
    line-height: 0px;
    margin: 0px 0 0 20px;
}

th,
td {
    padding: 5px;
    border: 1px solid #999;
}

th {
    background: #ccc;
}

tr:nth-child(odd) {
    background: #eee;
}

a {
    text-decoration: none;
    color: rgb(70, 62, 103);
}

td a {
    color: #000;
    text-decoration: underline;
}

ul a {
    text-decoration: none;
}

.form-element {
    padding: 7px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

.text-gray {
    color: #333;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}